.SetPickerPage {
	&__pickers {
		display: flex;
		width: 75%;
		margin: 1% auto 0 auto;

		&__picker {
			flex: 1 1 auto;
			margin: 0 1%;
		}
	}

	&__cards {
		display: flex;
		width: 50%;
		margin: 2% auto 0 auto;

		&__card {
			flex: 1 1 auto;
			margin: 0 2%;
		}
	}
}